# Exclude node_modules folder
node_modules/*

# Exclude yarn.lock
yarn.lock

# .env file (for local development)
.env

# MacOS files
.DS_Store

# Express.js files
.pnp.cjs
.yarn

# Exclude audio gen folder
audio-gen/*
