@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
}

body {
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}


/* Welcome Section */
#start-up,
#welcome {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

/* fix to the bottom and center of the page */
#hint-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: red;
    user-select: none;
}

#hint-down i {
    cursor: pointer;
    transition: color 0.5s;
    color: rgb(0, 0, 0);
    width: 25px;
    animation: bounce 1.6s infinite;
    float: right;
    padding: 10pt;
    background-color: #9b0404;
    border-radius: 50%;
}

#hint-down i:hover {
    color: red;
}

#hint-up {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: gray;
    user-select: none;
    margin: 0;
}

#hint-up i {
    cursor: pointer;
    transition: color 0.5s;
    color: rgb(0, 0, 0);
    width: 25px;
    animation: bounce 1.6s infinite;
    float: right;
    padding: 10pt;
    background-color: #9b0404;
    border-radius: 50%;
}

#hint-up i:hover {
    color: red;
}

#tester-prompt p,
#start-up p,
#welcome p,
#instructions{
    font-size: 13pt;
    padding: 10px;
    color: white;
}

.ombre-text{
    background: linear-gradient(to right, #ff0000, #ffffff, #444343);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Text Input Section */
#textarea {
    width: 60%;
    height: 10vh;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    border: 2px solid rgb(38, 39, 38);
  }
  
#textarea:focus {
    background: none repeat scroll 0 0 #1b1b1b; ;
    outline-width: 0;
}

#char-count {
    font-size: 20px; 
    color: white;
    margin-bottom: 17px;
}

button{
    background-color: #ff0000af;
    border: 1px solid #000000;
    border-radius: 5px;
    color:  #000000;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 15px;
    text-decoration: none;
}

button:hover{
    color: #ff0000af;
    background-color: #000000;
    border: 1px solid #5c0101;
    text-decoration: none;
    cursor: pointer;
}

#tester-prompt{
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    text-align: center;
    padding: 20px;
    border: #af0c0c 2px solid;
    border-radius: 5px;
}

/* Modals */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.938);
}

.modal-content {
    background-color: #080808;
    margin: auto; 
    padding: 20px;
    width: 50%;
    height: 80%;
    overflow: auto;
    font-size: 14pt;
    border: 3px solid #9b0404;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.modal h2{
    color: #ff0000af;
    font-weight: bold;
    text-align: center;
}

/* Modal Scroll Bar */
.modal-content::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 20px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #1a1919; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Round the corners of the thumb */
}

.modal-content::-webkit-scrollbar-track:hover {
    background-color: #333; /* Change track color on hover */
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #1a1919; /* Change thumb color on hover */
}

/* Terms and Conditions Modal */

#eval-form-modal p,
#termsModal p{
    font-weight: bold;
    color: #9e9e9e;
    text-align: left;
}

#eval-form-modal button{
    float:right;
}

#termsModal ol{
    color: #9e9e9e;
    text-align: left;
}

hr{
    border: 1px solid #3b3b3b;
    opacity: 50%;
}

/* Demographic Form */
form {
    color: #9e9e9e;
    text-align: left;
}

.not-answered {
    color: red;
}

#q1-input input{
    font-size: 18px;
    background-color: #222121d5;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #9e9e9e;
    padding: 10pt;
}

#demographic-form select {
    background-color: #312f2f;
    color: #9e9e9e;
    border: 1px solid #af0c0c;
    padding: 8px;
    width: 50%;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}
    
#demographic-form select option {
    background-color: #312f2f;
    color: #9e9e9e;
}

/* Testing Page */
#start-up {
    background-color: #070707;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
    padding-top: 5vh;
    border: #af0c0c 2px solid;
    border-radius: 5px;
}

#instructions{
    width: 70%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}


/* Form Section*/
#form {
    filter: invert(1);
    text-align: center;
}

#questionnaire {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 15vh;
    border-radius: 5px;
}

#next-audio {
    float: right;
}


/* Templated*/
/* Player Section */
.player {
    top: 5%;
    padding-bottom: 10px;
    justify-content: space-between;
    text-align: center;
    display: flex;
    max-height: 305px;
    margin: 0;
}

.fade-in {
    transition: opacity 0.35s ease, height 0.35s ease;
    opacity: 1;
    height: 100%;
}

.fade-in.show {
    opacity: 0;
}

.fade-out {
    transition: opacity 0.65s ease, height 0.65s ease;
    opacity: 0;
    opacity: 0;
    height: 0;
}

.fade-out.hide {
    opacity: 1;
}

.column {
    flex: 1; 
    border: 2px solid rgb(38, 39, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-cols{
    margin-top: 10px;
    display: flex;
    flex: 3;
    justify-content: space-between; 
    align-items: center;
}

img:hover,
.seekbar:hover {
    opacity: 0.7;
}

.play-btn img{
    height: 15vh;
}

.pause-stop-btn img{
    height: 5vh;
}

.seekbar{
    margin:10px;
}

#scroll {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: opacity 0.5s;
}

#scroll:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#back-arrow{
    background-color: #000000;
    border-radius: 3pt;
    width: 80px;
   
}

#back-arrow i {
    color: #af0c0c; 
}


/* Target Screens less than 800px wide */
@media screen and (max-width: 800px) {

    /* Body Adjustments */
    body {
      font-size: 12px; /* Adjust base font size for mobile */
    }

    /* Text Input Section */
    #textarea {
      width: 80%; /* Increase text input width */
    }

    #tester-prompt {
        width: auto;
        margin: 10px;
    }
  
    /* Modals */
    .modal-content {
      width: 80%; /* Adjust modal width */
    }
  
    /* Testing Page */
    #start-up {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    #instructions {
      font-size: 16px; /* Adjust instruction font size */
      width: auto;
    }
  
    /* Form Section */
    #questionnaire {
      font-size: 18px; /* Adjust questionnaire font size */
      margin-top: 10vh; /* Adjust margin for better placement */
    }
  
    /* Player Section */
    .player {
      max-height: unset; /* Remove max-height for better layout */
      flex-direction: column;
    }

    .playarea {
        width: 100%;
    }
  
    .column {
      flex: 100%; /* Make columns take full width */
    }
  
    .buttons-cols {
      flex-direction: row;
      margin-top: 12px;
      margin-left: 60px;
      margin-right: 60px;
    }
  
    .play-btn img {
        height: 12vh;
    }

    .pause-stop-btn img {
        height: 6vh;
    }
  
    .seekbar {
      width: 100%; /* Make seekbar take full width */
    }

    #next-audio {
        float: none;
        margin-left: 25vw;
    }
  }
  