
html, body {
    height: 100%;
}

body {
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}


/* Welcome Section */
#start-up,
#welcome {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

#tester-prompt p,
#start-up p,
#welcome p,
#instructions{
    font-size: 13pt;
    color: white;
    
}

.ombre-text{
    background: linear-gradient(to right, #ff0000, #ffffff, #444343);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/* Text Input Section */
#display-area,
#textarea {
    width: 60%;
    height: 15vh;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    border: 2px solid rgb(38, 39, 38);
  }
  
#textarea:focus {
    background: none repeat scroll 0 0 #1b1b1b; ;
    outline-width: 0;
}

#eval-btn,
#submit-btn{
    background-color: #ff0000af;
    border: 1px solid #000000;
    border-radius: 5px;
    color:  #000000;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 15px;
    text-decoration: none;
}

#eval-btn:hover,
#submit-btn:hover{
    color: #ff0000af;
    background-color: #000000;
    border: 1px solid #5c0101;
    text-decoration: none;
    cursor: pointer;
}

#tester-prompt{
    width: 90vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    padding: 20px;
    border: #af0c0c 2px solid;
}


/* Testing Page */
#start-up {
    background-color: #070707;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
    padding-top: 5vh;
    border: #af0c0c 2px solid;
    border-radius: 5px;
}

#instructions{
    width: 60%;
    height: 15%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}

#display-area{
    background: none repeat scroll 0 0 #141414; 
    margin-bottom: 2%;
}

.audio-dropbox {
    width: 70vh;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.audio-dropbox select {
    width: 100%; 
    padding: 5px;
    margin-top: 5px;
    border-radius: 20px;
    border: 2px solid rgb(99, 17, 17);
}

.audio-dropbox select {
    background-color: #444444; 
}


/* Form Section*/
#form {
    filter: invert(1);
    text-align: center;
}

iframe{
    width: 90%;
    padding: 20px;
    background-color: #f0f0f0;
}

#questionnaire {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    margin-top: 10vh;
    border: #af0c0c 2px solid;
    border-radius: 5px;
    background-color: #0f0f0f;
}



/* Templated*/
/* Player Section */
.player{
    position: relative;
    top: 5%;
    justify-content: space-between; 
    padding: 50px; 
    text-align: center;
    display: flex;
}

.column {
    flex: 1; 
    border: 2px solid rgb(38, 39, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-cols{
    margin-top: 10px;
    display: flex;
    flex: 3;
    justify-content: space-between; 
    align-items: center;
}

img:hover,
.seekbar:hover {
    opacity: 0.7;
}

.play-btn img{
    height: 15vh;
}

.pause-stop-btn img{
    height: 5vh;
}

.seekbar{
    margin:10px;
}


/* Scroll Button*/
#scroll-to-top-arrow,
#scroll-to-top-arrow i{
    float: right;
    background-color: #af0c0c; 
    border-radius: 50%; 
    border: #000000;
    padding: 10px
}

#scroll{
    height: 15%;
}

#back-arrow {
    color: #af0c0c; 
}

#back button{
    background-color: #000000;
    border-radius: 3pt;
}
